{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="row">
			<h2>Geo2Tag instance administration</h2>
		</div>
		<div class="row admin-header">
			<a href='/{{instance_prefix}}/admin/service'>Service managment</a>
			<a href='/{{instance_prefix}}/admin/user'>User managment</a>
			<a href='/{{instance_prefix}}/admin/plugin'>Plugin managment</a>
			<a href='/{{instance_prefix}}/admin/log'>Instance logs</a>
		</div>
        <div class="row">
			<h3>Debug info</h3>
		</div>
		<div class="row debuginfo">
			{{debug_info}}
		</div>
	</div>
{% endblock %}
