<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Geomongo</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet">
         {% block styles %}{% endblock %}
        <script src="{{ url_for('static', filename='js/jquery-latest.min.js') }}" ></script>
        <script type="text/javascript">function getInstancePrefix() { return '{{ g.instance_prefix }}'; }</script>
        <script type="text/javascript">function getUrlWithPrefix(url) { return '/'+getInstancePrefix() + url; }</script>
    </head>
    <body>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" ></script>
        <script type="text/javascript">function getInstancePrefix() { return '{{ g.instance_prefix }}'; }</script>
        <script type="text/javascript">function getUrlWithPrefix(url) { return '/'+getInstancePrefix() + url; }</script>
        <div class="container">
            <div>
                <span>Geo2Tag</span><span class='right'>
                {% if 'user_login' in session %}
                    Hello, {{ session['user_login'] }} | <a href="/{{g.instance_prefix}}/logout" type="button">Logout</a></span>
                {% elif 'user_id' in session %}
                    Hello, {{ session['user_id'] }} | <a href="/{{g.instance_prefix}}/logout" type="button">Logout</a></span>
                {% else %}
                    Hello, Anonym | <a href="/{{g.instance_prefix}}/login" type="button">Login</a></span>
                {% endif %}
            </div>
            {% block content %}
            {% endblock %}
            <div class="navbar-fixed-bottom row-fluid">
                <div>Powered by Geo2tag - <a href="http://geo2tag.com">geo2tag.com</a></div>
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
