<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Geomongo</title>
        {% from "macros/get_static_url.html" import getStaticUrl with context %}     
        {% from "macros/get_url_with_prefix.html" import getUrlWithPrefix with context %}     
        <link href="{{ getStaticUrl('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ getStaticUrl('css/main.css') }}" rel="stylesheet">
        <link href="{{ getStaticUrl('css/admin.css') }}" rel="stylesheet">
         {% block styles %}{% endblock %}
        <script src="{{ getStaticUrl('js/jquery-latest.min.js') }}" ></script>
        <script src="{{ getStaticUrl('js/bootstrap.min.js')}}" ></script>
        <script src="{{ getStaticUrl('js/service.js')}}" ></script>
        <script type="text/javascript">function getInstancePrefix() { return '{{ g.instance_prefix }}'; }</script>
        <script type="text/javascript">function getStaticUrl(url) { return url+'?{{ g.cache_invalidator }}'; }</script>
        <script type="text/javascript">function getUrlWithPrefix(url) { return '/'+getInstancePrefix() + url; }</script>
        <script type="text/javascript">initValuesForServicePage();</script>
    </head>
    <body>
        <div class="container">
            <div>
                <span>Geo2Tag</span><span class='right'>
                {% if 'user_login' in session %}
                    Hello, {{ session['user_login'] }} | <a href="{{ getUrlWithPrefix('/logout') }}" type="button">Logout</a></span>
                {% elif 'user_id' in session %}
                    Hello, {{ session['user_id'] }} | <a href="{{ getUrlWithPrefix('/logout') }}" type="button">Logout</a></span>
                {% else %}
                    Hello, Anonym | <a href="{{ getUrlWithPrefix('/login') }}" type="button">Login</a></span>
                {% endif %}
            </div>
            {% block content %}
            {% endblock %}
            <div class="navbar-fixed-bottom row-fluid">
                <div>Powered by Geo2tag - <a href="http://geo2tag.com">geo2tag.com</a></div>
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
