{% extends "base.html" %}
{% block styles%}
<!-- Lib's styles -->
<link rel="stylesheet" href="{{ getStaticUrl('css/qunit-1.18.0.css') }}">
<link rel="stylesheet" href="{{ getStaticUrl('css/plugin_list.css') }}">
<!-- Test styles -->
{% endblock %}
{% block scripts %}
<!-- Libs -->
<script src="{{ getStaticUrl('js/qunit-1.18.0.js') }}"></script>
<script src="{{ getStaticUrl('js/geo2tag.js') }}"></script>
<script src="{{ getStaticUrl('js/popup.js') }}"></script>
<script src="{{ getStaticUrl('js/underscore.js') }}"></script>
<script src="{{ getStaticUrl('js/backbone.js') }}"></script>
<script src="{{ getStaticUrl('js/service_list.js') }}"></script>
<script src="{{ getStaticUrl('js/calculate_list_request_length.js') }}"></script>
<script src="{{ getStaticUrl('js/url_builder.js') }}"></script>
<script src="{{ getStaticUrl('js/plugin_list.js') }}"></script>
<script src="{{ getStaticUrl('js/make_url.js') }}"></script>
<!-- Tests -->
<script src="{{ getStaticUrl('js/tests/geo2tag_requests_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/global_instance_prefix_test.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/popup_map_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/geo2tag_requests_bc_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/service_list_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/calculate_list_request_length_test.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/url_builder_test.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/plugin_list_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/make_url_by_channel_ids.js') }}"></script>

{% endblock %}
{% block content %}
<header>
    <h2>Integration tests</h2>
</header>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<div id='service_list_test'></div>
<div id='plugin_list_test'></div>
<input type='text' id='number' value=12>
<select id='offset'>
  <option value="1">1</option>
  <option value="4">4</option>
</select>
{% endblock %}
