{% extends "base.html" %}
{% block styles%}
<link rel="stylesheet" href="{{ getStaticUrl('css/qunit-1.18.0.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{ getStaticUrl('js/qunit-1.18.0.js') }}"></script>
<script type="text/javascript">function getUrlWithPrefix(url) { return '/{{ instancePrefix }}' + url; }</script>
<script src="{{ getStaticUrl('js/geo2tag.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/geo2tag_requests_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/global_instance_prefix_test.js') }}"></script>
<script src="{{ getStaticUrl('js/popup.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/popup_map_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/geo2tag_requests_bc_tests.js') }}"></script>
{% endblock %}
{% block content %}
<header>
    <h2>Integration tests</h2>
</header>
<div id="qunit"></div>
<div id="qunit-fixture"></div>

{% endblock %}
