{% extends "base.html" %}
{% block styles %}
<link href="{{ getStaticUrl('css/log.css') }}" rel="stylesheet">
<link href="{{ getStaticUrl('css/macros/date_search.css') }}" rel="stylesheet">
<link href="{{ getStaticUrl('css/macros/search.css') }}" rel="stylesheet">
<link href="{{ getStaticUrl('css/macros/pagination.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>Geo2Tag instance log</h2>
        </div>
        <div class="row">
            <form id="log-form">
                {% from "macros/date_search.html" import date_search with context %}
                {{date_search('date_search', True, True)}}
                <div class="row">
                        <input type="text" name="number" class="form-control" placeholder="Number">
                        <input type="text" name="offset" class="form-control" placeholder="Offset">
                        <input type="text" name="user-name" class="form-control" placeholder="User name">
                        <input type="text" name="service-name" class="form-control" placeholder="Service name">
                </div>
                {% from "macros/search.html" import search with context %}
                {{search('search', 'Substring', 'Search')}}
            </form>
        </div>
        <div class="row log-info">
        </div>
            {% from "macros/pagination.html" import pagination with context %}
            {{pagination('pagintaion_block')}}
    </div>
{% endblock %}

