<!DOCTYPE html>
<html>
	<head>
		<title>Geomongo Login</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<script src="js/jquery-latest.min.js"></script>
	</head>
	<body>
		<script src="js/bootstrap.min.js"></script>
		<div class="container">
			<header>
				<h2>Login with</h2>
			</header>
			<button> 
				<a href="/instance/login/google">
					<img src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Long_base_44dp.png" alt="Sign in with Google">
				</a>
			</button>
			<footer>
				<a href="geo2tag.com">geo2tag</a>
			</footer>
		</div>
	</body>
</html>