{% extends "base.html" %}
{% block content %}
			<header>
				<h2>Login with</h2>
			</header>
			<button> 
				<a href='/{{instance_prefix}}/login/google'>
					<img class="google_authorized" src="{{ getStaticUrl('img/login_google_img.png')}}" alt="Sign in with Google">
				</a>
			</button>
			<button>
				<a href='/{{instance_prefix}}/login/facebook'>
      				<img class="facebook_authorized" src="{{ getStaticUrl('img/login_facebook_img.png')}} alt="Sign in with Facebook">
   				</a>
</button>
{% endblock %}
