{% extends "base.html" %}
{% block styles%}
<link rel="stylesheet" href="{{ getStaticUrl('css/service.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{ getStaticUrl('js/service.js') }}"></script>
<script src="{{ getStaticUrl('js/spin.min.js') }}"></script>
{% endblock %}
{% block content %}
<header>
    <h2>Service < name ></h2>
</header>
    <div class="row" id="main_div_service_page_id">
        <div class="col-xs-6">
        	<a href="#">
        		<h2>Parameters</h2>
        	</a>
        	<p>Logsize</p>
        	<input type="text" placeholder="Logsize">
        	<p>Ownership</p>
        	<select>
    			<option>111</option>
    			<option>222</option>
        	</select>
        </div>
        <div class="col-xs-6">
        	<a href="#">
        		<h2>Statistic</h2>
        	</a>
        	<a href="#">
        		<h4>Channels N</h4>
        	</a>
        	<a href="#">
        		<h4>Points M</h4>
        	</a>
        	<a href="#">
        		<h4>Logs</h4>
        	</a>
        </div>
    </div>
    <div class="row buttons-service">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
    		<button type="button" class="btn btn-primary" id="save_service_btn" onclick='saveServiceChange()'>Save</button>
                <div id ="spin"></div>
        </div>
        <div class="col-xs-2">
        	<button type="button" class="btn btn-danger">Cancel</button>
        </div>
        <div class="col-xs-4">
        </div>
    </div>
{% endblock %}
