{% extends "base.html" %}
{% block styles%}
<!-- External Css -->
<link rel="stylesheet" href="{{ getStaticUrl('css/jquery-ui.css') }}">

<!-- Internal Css -->
<link rel="stylesheet" href="{{ getStaticUrl('css/service_list.css') }}">

<!-- Macros css -->
<link rel="stylesheet" href="{{ getStaticUrl('css/macros/pagination.css') }}">
<link rel="stylesheet" href="{{ getStaticUrl('css/simplePagination.css') }}">
{% endblock %}
{% block scripts %}
<!-- External Libs -->
<script src="{{ getStaticUrl('js/jquery-ui.min.js') }}"></script>
<script src="{{ getStaticUrl('js/underscore.js') }}"></script>
<script src="{{ getStaticUrl('js/backbone.js') }}"></script>

<!-- Project Libs -->
<script src="{{ getStaticUrl('js/service_list_init.js') }}"></script>
<script src="{{ getStaticUrl('js/service_list.js') }}"></script>
<script src="{{ getStaticUrl('js/url_builder.js') }}"></script>
<script src="{{ getStaticUrl('js/calculate_list_request_length.js') }}"></script>

<!-- Macros js -->
<script src="{{ getStaticUrl('js/macros/pagination.js') }}"></script>
<script src="{{ getStaticUrl('js/macros/autocomplete_input.js') }}"></script>
<script src="{{ getStaticUrl('js/jquery.simplePagination.js') }}"></script>
{% endblock %}
{% block content %}
<div class='container'>     
    <h2>Services</h2>
    <button type="button" class="btn btn-primary btn-lg btn-success" id="create_new_service">Create new service</button>
    <h3>Filter</h3>
    <div class='well'>
        {% from "macros/autocomplete_input.html" import AutocompleteInput with context %}
        {{ AutocompleteInput('owner_id', 'Owner login', 'Start typing to select user') }}

        <div class="form-group">
            <label for="service_name">Service name:</label>
            <input type="text" class="form-control" id="service_name">
        </div>
    </div>
    <h3>Results</h3>
    <div class='well'>
        {% from "macros/pagination.html" import pagination with context %}
        {{ pagination('service_list') }}
    </div>
</div>
{% endblock %}
