
{% extends "base.html" %}
{% block styles%}
<link rel="stylesheet" href="{{ getStaticUrl('css/qunit-1.18.0.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{ getStaticUrl('js/qunit-1.18.0.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/put_delete_methods.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/login_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/logout_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/channel_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/point_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/service_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/service_list_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/log_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/channel_list_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/point_list_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/map_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/plugin_list_resource_tests.js') }}"></script>
<script src="{{ getStaticUrl('js/tests/manage_plugins_resource_tests.js') }}"></script>

{% endblock %}
{% block content %}
<header>
    <h2>Integration tests</h2>
</header>
<div id="qunit"></div>
<div id="qunit-fixture"></div>

{% endblock %}
