{% extends "base.html" %}
{% block styles%}
<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
{% endblock %}
{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
<script src="{{ getStaticUrl('js/autocomplete_input_example.js') }}"></script>

<script type="text/javascript">function getUrlWithPrefix(url) { return '/{{ instancePrefix }}' + url; }</script>
{% endblock %}
{% block content %}
<header>
    <h2>Autocomplete tests</h2>
</header>
{% from "macros/autocomplete_input.html" import AutocompleteInput with context %}
{{AutocompleteInput('test')}}	
<div id="qunit"></div>
<div id="qunit-fixture"></div>

{% endblock %}
