{% macro date_search(macroId, bc_begin, bc_end) %}
    <div class="row">
        <div class="span3"><input type="text" name="date-begin" class="form-control" id="date-begin_{{macroId}}" placeholder="Date begin"></div>
        {% if bc_begin == True %}
        <div class="span3"><input type="checkbox" name="bc_begin" id="bc_begin_{{macroId}}">BC date begin</div>
        {% endif %}
        <div class="span3"><input type="text" name="date-end" class="form-control" id="date-end_{{macroId}}" placeholder="Date end"></div>
        {% if bc_end == True %}
        <div class="span3"><input type="checkbox" name="bc_end" id="bc_end_{{macroId}}">BC date end</div>
        {% endif %}
    </div>
{% endmacro %}
